* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app__posts {
  padding: 20px;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-around;
}
.app__headerImage {
  width: 100px;
  object-fit: contain;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: space-around;
}
.post__users__box {
  margin-top: 100px;
}
.users__heading {
  margin-top: 50px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  text-align: center;
}
.login__info {
  margin: 20px;
}
.login__notification {
  text-align: center;
}
.notification__container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}
.app__loginContainer {
  text-align: center;
}
@media only screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .post__users__box {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}